application/config/development
application/config/testing
application/config/production
application/cache/smarty/*
application/private/*
application/public/images_users/*
!application/public/images_users/no_avatar.jpg
application/logs/*
!application/logs/index.html
docker_source/test_volume/*
