application/config/development
application/config/testing
application/config/production
application/cache/smarty/*
private/moss/*
private/extracted_solutions/*
private/test_to_execute/*
private/uploads/csv_imports/*
private/uploads/solutions/*
private/uploads/task_files/*
private/uploads/unit_tests/*
public/images_users/*
!public/images_users/no_avatar.jpg
application/logs/*
!application/logs/index.html
docker_source/test_volume/*
test_locks/*
test_scripts/workers_info.txt
