test_scripts/run_with_timeout
application/config/development
application/config/testing
application/config/production
application/cache/smarty/*
public/js/mathjax
public/js/highcharts
public/js/google-code-prettify
public/css/prettify.css
public/css/font-awesome
private/moss/*
!private/moss/.gitkeep
private/extracted_solutions/*
!private/extracted_solutions/.gitkeep
private/test_to_execute/*
!private/test_to_execute/.gitkeep
private/uploads/csv_imports/*
!private/uploads/csv_imports/.gitkeep
private/uploads/solutions/*
!private/uploads/solutions/.gitkeep
private/uploads/task_files/*
!private/uploads/task_files/.gitkeep
private/uploads/unit_tests/*
!private/uploads/unit_tests/.gitkeep
public/images_users/*
!public/images_users/no_avatar.jpg
application/logs/*
!application/logs/index.html
docker_source/test_volume/*
test_locks/*
!test_locks/.gitkeep
test_scripts/workers_info.txt
.idea/*

/vendor/
/node_modules/
/bower_components/
