version: '3.7'

services:
  list-server:
    build:
      context: .docker-compose/server/
    image: local-list-server-image
    volumes:
      - .:/app
      - ./supervisord/dev-consumers.conf:/opt/docker/etc/supervisor.d/dev-consumers.conf:ro
    working_dir: /app
    hostname: server.listdev
    domainname: listdev
    ports:
      - 80:80
    extra_hosts:
      - "server.listdev:127.0.0.1"
    links:
      # - list-database
      - list-rabbitmq
      - list-redis
    environment:
      # ======= local database config: =======
      # LIST_DATABASE_HOSTNAME: list-database
      # LIST_DATABASE_USER: root
      # LIST_DATABASE_PASSWORD: root
      # LIST_DATABASE_NAME: list-dev
      # ===============================
      LIST_DATABASE_HOSTNAME: list.fmph.uniba.sk
      LIST_DATABASE_USER: timotea
      LIST_DATABASE_PASSWORD: gastanko123
      LIST_DATABASE_NAME: timotea
      LIST_CONFIG_BASE_URL: http://server.listdev/
      LIST_ENVIRONMENT: development
      LIST_AMQP_HOST: list-rabbitmq
      LIST_AMQP_PORT: 5672
      LIST_AMQP_USER: guest
      LIST_AMQP_PASSWORD: guest
      LIST_AMQP_VHOST: /
      LIST_REDIS_LOCK_HOST: list-redis
      LIST_REDIS_LOCK_PORT: 6379
      LIST_REDIS_LOCK_SCHEME: tcp
      XDEBUG_CONFIG: >
        remote_host=host.docker.internal
        remote_autostart=1
        remote_connect_back=0
  # list-database:
  #   image: mariadb:10.7
  #   environment:
  #     MYSQL_ROOT_PASSWORD: root
  #     MYSQL_DATABASE: list-dev
  #   # volumes:
  #   #   - list-database-data:/var/lib/mysql
  #   ports:
  #     - 43306:3306
  #   hostname: server.listdev
  #   domainname: listdev

  # list-adminer:
  #   image: adminer:latest
  #   links:
  #     - list-database
  #   hostname: server.listdev
  #   domainname: listdev
  #   ports:
  #     - 8080:8080
  #   extra_hosts:
  #     - "server.listdev:127.0.0.1"
  #   environment:
  #     ADMINER_DEFAULT_SERVER: list-database

  list-rabbitmq:
    image: rabbitmq:3-management-alpine
    hostname: server.listdev
    domainname: listdev
    volumes:
      - list-rabbitmq-data:/var/lib/rabbitmq/mnesia/
    ports:
      - 15672:15672
      - 15692:15692
    extra_hosts:
      - "server.listdev:127.0.0.1"

  list-redis:
    image: redis:6-alpine
    ports:
      - 6379:6379


volumes:
  list-database-data:
  list-rabbitmq-data: