table.task_sets_table { width: 100%; }
table.task_sets_table th { text-align: left; }
table.task_sets_table th.controlls { width: 1px; text-align: center; }
table.task_sets_table td.controlls { width: 1px;}
table.task_sets_table tbody td { padding: 2px; }
table.task_sets_table tbody td ol { margin-left: 22px; }
table.task_sets_table tbody td:first-child { border-right: 1px dashed gray; }
table.task_sets_table tbody td:nth-child(2) { padding-left: 5px; }
table.task_sets_table tbody tr:nth-child(even) { background-color: rgba(255,255,255,128); }
table.task_sets_table tbody tr.opened_task_set { background-color: rgba(128,128,255,192); border: 1px solid blue; }
table.task_sets_table tbody tr.not_published_task_set { background-color: rgba(192, 0, 0, 255); }
table.task_sets_table tbody tr:nth-child(even).not_published_task_set { background-color: rgba(212, 0, 0, 255); }
table.task_sets_table tbody tr.opened_task_set.not_published_task_set { background-color: rgba(192, 128, 192, 255); }
table.task_sets_table tbody tr:nth-child(even).opened_task_set.not_published_task_set { background-color: rgba(212, 128, 212, 255); }
table.task_sets_table tbody td ul { margin-left: 20px; }
table.task_sets_table tbody tr td span.published_yes { color: green; font-weight: bold; }
table.task_sets_table tbody tr td span.published_no { color: black; font-weight: bold; }
table.task_sets_table tbody tr.opened_task_set td span.published_yes { color: lightgreen; font-weight: bold; }
table.task_sets_table tbody tr.opened_task_set td span.published_no { color: orange; font-weight: bold; }
table.task_sets_table tbody tr td a.change_publication_status { font-weight: bold; color: green; text-decoration: none; }
table.task_sets_table tfoot td { text-align: right; background-color: rgba(192,192,192,128); padding: 2px; border-radius: 4px; }
table.task_sets_table thead tr th { padding: 2px; background-color: rgba(192,192,192,128); }
table.task_sets_table thead tr th:first-child { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
table.task_sets_table thead tr th:last-child { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
table.task_sets_table tbody tr.task_set_time_long_after_deadline td,
table.task_sets_table tbody tr td li.task_set_time_long_after_deadline { color: dimgray; }
table.task_sets_table tbody tr.task_set_time_after_deadline td,
table.task_sets_table tbody tr td li.task_set_time_after_deadline { color: red; }
table.task_sets_table tbody tr.task_set_time_day_before_deadline td,
table.task_sets_table tbody tr td li.task_set_time_day_before_deadline { color: orange; }
table.task_sets_table tbody tr.task_set_time_two_days_before_deadline td,
table.task_sets_table tbody tr td li.task_set_time_two_days_before_deadline { color: olive; }
table.task_sets_table tbody tr.task_set_time_week_before_deadline td,
table.task_sets_table tbody tr td li.task_set_time_week_before_deadline { color: darkcyan; }
div.filter_wrap { margin-bottom: 10px; border-bottom: 1px solid silver; padding-bottom: 5px; }

#tasks_sortable { list-style-type: none; }
#tasks_sortable li { margin: 3px 0; padding: 5px; border-radius: 5px; }
#tasks_sortable li.placeholder { opacity: 0.6; }

ul.comments_list { list-style-type: none; margin-left: 5px; }
ul.comments_list.level_1 { margin-left: 0; }
ul.comments_list li div.comment_body { border: 1px solid black; border-radius: 3px; margin-top: 3px;margin-top: 3px; padding: 3px; }
ul.comments_list li div.comment_body.teacher_comment { background-color: #deffea; }
ul.comments_list li div.comment_body.student_comment { background-color: #e0deff; }
ul.comments_list li div.comment_body.student_comment.preview_comment { background-color: #ffdede; }
ul.comments_list li div.comment_body div.comment_header { padding-bottom: 3px; border-bottom: 1px solid black; }
ul.comments_list li div.comment_body div.comment_text { padding: 3px 0; }
ul.comments_list li div.comment_body div.comment_buttons { padding-top: 3px; border-top: 1px solid black; text-align: right; }
ul.comments_list li:first-child div.comment_body { margin-top: 0; }
ul.comments_list.level_1 li ul.comments_list li div.comment_body { margin-top: 3px; }

div.custom_switch_header.task_wrapper { width: 99%; }
div.custom_switch_wrapper.task_wrapper { width: 99%; }


table.task_set_permissions_table { width: 100%; }
table.task_set_permissions_table th { text-align: left; }
table.task_set_permissions_table th.controlls { width: 1px; text-align: center; }
table.task_set_permissions_table td.controlls { width: 1px;}
table.task_set_permissions_table tbody td { padding: 2px; }
table.task_set_permissions_table tbody td:first-child { border-right: 1px dashed gray; }
table.task_set_permissions_table tbody td:nth-child(2) { padding-left: 5px; }
table.task_set_permissions_table tbody tr:nth-child(even) { background-color: rgba(255,255,255,128); }
table.task_set_permissions_table tbody td ul { margin-left: 20px; }
table.task_set_permissions_table tfoot td { text-align: right; background-color: rgba(192,192,192,128); padding: 2px; border-radius: 4px; }
table.task_set_permissions_table thead tr th { padding: 2px; background-color: rgba(192,192,192,128); }
table.task_set_permissions_table thead tr th:first-child { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
table.task_set_permissions_table thead tr th:last-child { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

div.project_selection_list { border: 1px dashed black; padding: 10px; border-radius: 5px; }
div.project_selection_list.not_selected_list { background-color: #ffdede; }
div.project_selection_list div.project_selection_student { border: 1px solid black; background-color: white; padding: 3px; border-radius: 4px; margin: 2px 0; }
div.project_selection_list div.project_selection_student.operations_disabled { border-color: gray; background-color: silver; color: gray; }

fieldset.sorting_list ul.sorting_list { list-style-type: none; }
fieldset.sorting_list ul.sorting_list li.sorted_item { border: 1px solid green; background-color: #6DC052; margin: 1px 0; padding: 2px; cursor: pointer; }
fieldset.sorting_list ul.sorting_list li.task-set-sorting-placeholder { height: 1.1em; margin: 1px 0; padding: 2px; border: 1px solid gray; background-color: silver; }

#tasks_sortable.ui-sortable li.task_sorting_item { background: #E8E8E8; }
#tasks_sortable.ui-sortable li.task_sorting_item .task .text_content { background: white; }