@media only screen {
    table.task_sets_table { width: 100%; }
    table.task_sets_table th { text-align: left; }
    table.task_sets_table th.controlls { width: 1px; text-align: center; }
    table.task_sets_table td.controlls { width: 1px;}
    table.task_sets_table tbody td { padding: 2px; }
    table.task_sets_table tbody td:first-child { border-right: 1px dashed gray; }
    table.task_sets_table tbody td:nth-child(2) { padding-left: 5px; }
    table.task_sets_table tbody td ol { margin-left: 22px; }
    table.task_sets_table tbody tr:nth-child(even) { background-color: rgba(255,255,255,128); }
    table.task_sets_table tbody td ul { margin-left: 20px; }
    table.task_sets_table tfoot td { text-align: right; background-color: rgba(192,192,192,128); padding: 2px; border-radius: 4px; }
    table.task_sets_table thead tr th { padding: 2px; background-color: rgba(192,192,192,128); }
    table.task_sets_table thead tr th:first-child { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
    table.task_sets_table thead tr th:last-child { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
    table.task_sets_table tbody tr.task_set_time_long_after_deadline td,
    table.task_sets_table tbody tr td li.task_set_time_long_after_deadline { color: dimgray; }
    table.task_sets_table tbody tr.task_set_time_after_deadline td,
    table.task_sets_table tbody tr td li.task_set_time_after_deadline { color: red; }
    table.task_sets_table tbody tr.task_set_time_day_before_deadline td,
    table.task_sets_table tbody tr td li.task_set_time_day_before_deadline { color: orange; }
    table.task_sets_table tbody tr.task_set_time_two_days_before_deadline td,
    table.task_sets_table tbody tr td li.task_set_time_two_days_before_deadline { color: olive; }
    table.task_sets_table tbody tr.task_set_time_week_before_deadline td,
    table.task_sets_table tbody tr td li.task_set_time_week_before_deadline { color: darkcyan; }
    div.filter_wrap { margin-bottom: 10px; border-bottom: 1px solid silver; padding-bottom: 5px; }

    table.solutions_table { width: 100%; }
    table.solutions_table th { text-align: left; }
    table.solutions_table th.controlls { width: 1px; text-align: center; }
    table.solutions_table td.controlls { width: 1px;}
    table.solutions_table tbody td { padding: 2px; }
    table.solutions_table tbody td:first-child { border-right: 1px dashed gray; }
    table.solutions_table tbody td:nth-child(2) { padding-left: 5px; }
    table.solutions_table tbody tr:nth-child(even) { background-color: rgba(255,255,255,128); }
    table.solutions_table tbody tr.revalidate_this { border: 1px solid red; background-color: rgba(255,164,164,64); }
    table.solutions_table tbody tr.not_considered td { font-weight: bold; color: red; }
    table.solutions_table tbody tr.not_considered td a { font-weight: normal; }
    table.solutions_table tbody tr.not_considered.revalidate_this { color: darkred; }
    table.solutions_table tbody td ul { margin-left: 20px; }
    table.solutions_table tfoot td { text-align: right; background-color: rgba(192,192,192,128); padding: 2px; border-radius: 4px; }
    table.solutions_table thead tr th { padding: 2px; background-color: rgba(192,192,192,128); }
    table.solutions_table thead tr th.valuation { text-align: center; }
    table.solutions_table thead tr th.left_corner { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
    table.solutions_table thead tr th.right_corner { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
    table.solutions_table tbody tr td span.suspiciousSolution { font-size: 1.5em; font-weight: bold; color: red; font-family: monospace; }

    table.batch_valuation_table { width: 100%; border-collapse: collapse; }
    table.batch_valuation_table th { text-align: left; }
    table.batch_valuation_table th.controlls { width: 1px; text-align: center; }
    table.batch_valuation_table td.controlls { width: 1px;}
    table.batch_valuation_table tbody td { padding: 4px; }
    table.batch_valuation_table tbody td input.full_width { width: 99%; }
    table.batch_valuation_table tbody tr:nth-child(even) { background-color: rgba(255,255,255,128); }
    table.batch_valuation_table thead tr th { padding: 2px; background-color: rgba(192,192,192,128); }
    table.batch_valuation_table thead tr th:first-child { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
    table.batch_valuation_table thead tr th:last-child { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

    #file_content_id { min-height: 200px; border: 1px solid black; border-radius: 3px; }
    #file_content_id ol { background-color: #99ff99; }
    #file_content_id ol li { margin-left: 75px; padding-left: 5px; background-color: white; }
    #file_content_id ol li pre { display: block; }

    div.task_wrap { margin-bottom: 5px; }
    div.task_wrap:last-child { margin-bottom: 0px; }
    div.task_wrap h5 { font-size: 1.1em; margin-bottom: 5px; }
    div.task_wrap h5 span { color: green; font-weight: normal; }
    div.task_wrap h5 span.bonus_task { color: red; }
    div.task_wrap div.task_text { margin-left: 3px; }
    div.task_wrap div.clear { clear: both; }

    div.task_internal_comment_wrap,
    div.relation_internal_comment_wrap,
    div.internal_comment_wrap,
    div.instructions_wrap { margin-bottom: 5px; }
    div.task_internal_comment_wrap { float: left; width: 49.9%; }
    div.relation_internal_comment_wrap { margin-left: 50%; }
    div.task_internal_comment_wrap h5,
    div.relation_internal_comment_wrap h5,
    div.internal_comment_wrap h5,
    div.instructions_wrap h5 { font-size: 1.1em; margin-bottom: 5px; }
    div.task_internal_comment_wrap div.internal_comment_text,
    div.relation_internal_comment_wrap div.internal_comment_text,
    div.internal_comment_wrap div.internal_comment_text,
    div.instructions_wrap div.instructions_text { margin-left: 3px; }

    #table_content_id { width: 100%; }
    #table_content_id h3 { margin-top: 10px; }
    
    /*#table_content_id { position: relative; height: 600px; }*/
    /*#valutation_table_wrapper { margin-top: 10px; position: absolute; left: 0px; right: 0px; }*/
    #valutation_table tbody tr td { padding: 3px; text-align: center; }
    #valutation_table tbody tr td.type_task_set.flag_notSubmitted { color: red; }
    #valutation_table tbody tr td.type_task_set.flag_notInGroup { color: darkslategrey; }
    #valutation_table tbody tr td.type_task_set.flag_revalidate { color: blue; }
    #valutation_table tbody tr td.type_task_set.flag_notConsidered { color: magenta; }
    #valutation_table tbody tr td.type_summary,
    #valutation_table tbody tr td.type_task_set_type { font-weight: bold; }
    #valutation_table tbody tr td a { text-decoration: none; color: green; }
    #valutation_table tbody tr td a:hover { text-decoration: underline; }
    #valutation_table tbody tr:nth-child(2n) td { background-color: #dddddd; }
    #valutation_table tbody tr:nth-child(2n+1) td { background-color: #cccccc; }
    #valutation_table tbody tr:nth-child(2n) td.index { background-color: #ccffcc; }
    #valutation_table tbody tr:nth-child(2n+1) td.index { background-color: #99ffcc; }
    #valutation_table tbody tr:nth-child(2n) td.type_name { background-color: #ccffcc; }
    #valutation_table tbody tr:nth-child(2n+1) td.type_name { background-color: #99ff99; }
    #valutation_table tbody tr:nth-child(2n) td.type_task_set_type { background-color: #ffffcc; }
    #valutation_table tbody tr:nth-child(2n+1) td.type_task_set_type { background-color: #ffff99; }
    #valutation_table tbody tr:nth-child(2n) td.type_summary { background-color: #ccffff; }
    #valutation_table tbody tr:nth-child(2n+1) td.type_summary { background-color: #99ffff; }
    #valutation_table tbody tr:nth-child(2n) td.type_summary.ctype_task_set { background-color: #ffffcc; }
    #valutation_table tbody tr:nth-child(2n+1) td.type_summary.ctype_task_set { background-color: #ffff99; }
    #valutation_table tbody tr:nth-child(2n) td.type_summary.ctype_project { background-color: #ffcccc; }
    #valutation_table tbody tr:nth-child(2n+1) td.type_summary.ctype_project { background-color: #ff9999; }
    #valutation_table thead tr th { padding: 3px; text-align: center; font-weight: bold; }
    #valutation_table thead tr th.content_type_task_sets { background-color: #f4ffa4; }
    #valutation_table thead tr th.content_type_projects { background-color: #ffc6c6; }
    #valutation_table thead tr th.index { background-color: #66ffcc; }
    #valutation_table thead tr th.static { background-color: #50a050; }
    #valutation_table thead tr th.total_sum { background-color: #96BFFF; }
    #valutation_table thead tr th.ctype_task_set.type_task_set { background-color: #f4ff84; }
    #valutation_table thead tr th.ctype_task_set.type_task_set_type { background-color: #ffff33; }
    #valutation_table thead tr th.ctype_task_set.summary { background-color: #eeee34; }
    #valutation_table thead tr th.ctype_project.type_task_set { background-color: #ff9696; }
    #valutation_table thead tr th.ctype_project.summary { background-color: #ff6666; }
    #valutation_table thead tr th[data-position] { cursor: pointer; }
    #valutation_table thead tr th.sort-asc:after { content: '\0000a0\0025B2' }
    #valutation_table thead tr th.sort-desc:after { content: '\0000a0\0025BC' }

    #valutation_table tbody tr td.type_task_set[data-solution-id][data-task-set-id] { cursor: pointer; }
    #valutation_table tbody tr:nth-child(2n) td.type_task_set[data-solution-id][data-task-set-id]:hover { background-color: orange; }
    #valutation_table tbody tr:nth-child(2n+1) td.type_task_set[data-solution-id][data-task-set-id]:hover { background-color: darkorange; }
    
    ul.show_hide_menu li.name > a { background-color: #50a050 !important; color: black !important; }
    ul.show_hide_menu li.task_sets > a { background-color: #f4ff84 !important; color: black !important; }
    ul.show_hide_menu li.task_sets li.section > a { background-color: #ffff33 !important; color: black !important; }
    ul.show_hide_menu li.task_sets li.task_set > a { background-color: #f4ff84 !important; color: black !important; }
    ul.show_hide_menu li.task_sets li.subtotal > a { background-color: #eeee34 !important; color: black !important; }
    ul.show_hide_menu li.projects > a { background-color: #ffc6c6 !important; color: black !important; }
    ul.show_hide_menu li.projects li.project > a { background-color: #ff9696 !important; color: black !important; }
    ul.show_hide_menu li.projects li.subtotal > a { background-color: #ff6666 !important; color: black !important; }
    ul.show_hide_menu li.total > a { background-color: #96BFFF !important; color: black !important; }

    #tests_execution_area_id h4 { margin: 15px 5px 10px 5px; font-size: 1.1em; font-weight: bold; }
    #tests_execution_area_id div.test_execution_div { overflow-x: auto; max-width: 100%; }

    #solution_files_list_id { margin-left: 20px; }
    #solution_files_list_id li { background-color: white; padding: 5px; margin-bottom: 3px; border-radius: 5px; }
    #solution_files_list_id li:last-child { margin-bottom: 0; }

    div.legend > div{ display: inline-block; padding: 10px; border-radius: 5px; box-shadow: 2px 2px 2px silver; }
    div.legend > div.not_submited { background-color: #ffc6c6; }
    div.legend > div.not_submited:hover { background-color: #ff9696; }
    div.legend > div.not_this_group { background-color: #f4ffa4; }
    div.legend > div.not_this_group:hover { background-color: #f4ff84; }
    div.legend > div.not_valuated { background-color: #d1f4ff; }
    div.legend > div.not_valuated:hover { background-color: #96b9ff; }
    div.legend > div.not_considered { background-color: #fad6ff; }
    div.legend > div.not_considered:hover { background-color: #fa96ff; }
    
    #valuation_files_id div.codepreview_container { width: 100%; height: 450px; overflow: scroll; }
    #valuation_files_id pre.codepreview,
    #valuation_files_id pre.codepreviewNohighlight {  }
    #valuation_files_id div.version_metadata_panel { max-height: 200px; overflow-y: auto; }

    form div.field label.suspiciousSolution { color: red; }
    form div.field p.input.suspiciousSolution em { color: red; }
}
@media only screen and (min-width: 1024px) {
    #valuation_files_id div.filter_wrap { width: 300px; border-bottom: 0 none; float: left; }
    #valuation_files_id div.filter_wrap form div.field label { float: none; width: auto; }
    #valuation_files_id div.filter_wrap form div.field p.input,
    #valuation_files_id div.filter_wrap form div.field div.input { float: none; margin-left: 0; clear: none; width: auto; }
    #valuation_files_id div.filter_wrap form div.field select { width: 99%; }
    #valuation_files_id div.filter_wrap .button.full_width_button { width: 99%; text-align: center; }
    #valuation_files_id #file_content_id { margin-left: 310px; width: auto; }
    #valuation_files_id #file_content_id pre.prettyprint { border: 0 none; padding: 0; }
    #valuation_files_id div.clear { clear: both; }
    #valuation_files_id div.hint { margin-top: 8px; }
}
@media only screen and (max-width: 1024px) {
    #valuation_files_id { font-size: 0.7em; }
    #valuation_files_id div.filter_wrap { width: 100%; float: none; }
    #valuation_files_id div.filter_wrap form div.buttons,
    #valuation_files_id div.filter_wrap form div.field { float: none; width: 49.5%; display: inline-block; }
    #valuation_files_id div.filter_wrap form div.field select { width: 70%; }
    #valuation_files_id div.filter_wrap form div.field label { width: 43% }
    #valuation_files_id div.filter_wrap form div.field p.input,
    #valuation_files_id div.filter_wrap form div.field div.input { margin-left: 43.1%; }
    #valuation_files_id div.hint { clear: both; margin-top: 5px; }
}