table.task_sets_table { width: 100%; }
table.task_sets_table th { text-align: left; }
table.task_sets_table th.controlls { width: 1px; text-align: center; }
table.task_sets_table td.controlls { width: 1px;}
table.task_sets_table tbody td { padding: 2px; }
table.task_sets_table tbody td:first-child { border-right: 1px dashed gray; }
table.task_sets_table tbody td:nth-child(2) { padding-left: 5px; }
table.task_sets_table tbody tr:nth-child(even) { background-color: rgba(255,255,255,128); }
table.task_sets_table tbody td ul { margin-left: 20px; }
table.task_sets_table tfoot td { text-align: right; background-color: rgba(192,192,192,128); padding: 2px; border-radius: 4px; }
table.task_sets_table thead tr th { padding: 2px; background-color: rgba(192,192,192,128); }
table.task_sets_table thead tr th:first-child { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
table.task_sets_table thead tr th:last-child { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
div.filter_wrap { margin-bottom: 10px; border-bottom: 1px solid silver; padding-bottom: 5px; }

table.solutions_table { width: 100%; }
table.solutions_table th { text-align: left; }
table.solutions_table th.controlls { width: 1px; text-align: center; }
table.solutions_table td.controlls { width: 1px;}
table.solutions_table tbody td { padding: 2px; }
table.solutions_table tbody td:first-child { border-right: 1px dashed gray; }
table.solutions_table tbody td:nth-child(2) { padding-left: 5px; }
table.solutions_table tbody tr:nth-child(even) { background-color: rgba(255,255,255,128); }
table.solutions_table tbody tr.revalidate_this { border: 1px solid red; background-color: rgba(255,164,164,64); }
table.solutions_table tbody tr.not_considered td { font-weight: bold; color: red; }
table.solutions_table tbody tr.not_considered td a { font-weight: normal; }
table.solutions_table tbody tr.not_considered.revalidate_this { color: darkred; }
table.solutions_table tbody td ul { margin-left: 20px; }
table.solutions_table tfoot td { text-align: right; background-color: rgba(192,192,192,128); padding: 2px; border-radius: 4px; }
table.solutions_table thead tr th { padding: 2px; background-color: rgba(192,192,192,128); }
table.solutions_table thead tr th.valuation { text-align: center; }
table.solutions_table thead tr th.left_corner { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
table.solutions_table thead tr th.right_corner { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

table.batch_valuation_table { width: 100%; border-collapse: collapse; }
table.batch_valuation_table th { text-align: left; }
table.batch_valuation_table th.controlls { width: 1px; text-align: center; }
table.batch_valuation_table td.controlls { width: 1px;}
table.batch_valuation_table tbody td { padding: 4px; }
table.batch_valuation_table tbody td input.full_width { width: 99%; }
table.batch_valuation_table tbody tr:nth-child(even) { background-color: rgba(255,255,255,128); }
table.batch_valuation_table thead tr th { padding: 2px; background-color: rgba(192,192,192,128); }
table.batch_valuation_table thead tr th:first-child { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
table.batch_valuation_table thead tr th:last-child { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

#file_content_id { width: 100%; height: 400px; overflow: auto; border: 1px solid black; border-radius: 3px; padding: 3px; }
#file_content_id ol { background-color: #99ff99; }
#file_content_id ol li { margin-left: 75px; padding-left: 5px; background-color: white; }
#file_content_id ol li pre { display: block; }

div.task_wrap { margin-bottom: 5px; }
div.task_wrap:last-child { margin-bottom: 0px; }
div.task_wrap h5 { font-size: 1.1em; margin-bottom: 5px; }
div.task_wrap h5 span { color: green; font-weight: normal; }
div.task_wrap h5 span.bonus_task { color: red; }
div.task_wrap div.task_text { margin-left: 3px; }

div.instructions_wrap { margin-bottom: 5px; }
div.instructions_wrap h5 { font-size: 1.1em; margin-bottom: 5px; }
div.instructions_wrap div.instructions_text { margin-left: 3px; }

#table_content_id h3 { margin-top: 10px; }

div.valuation_table_outer_wrap { border: 1px solid black; border-radius: 5px; padding: 5px; margin-top: 10px; }
div.valuation_table_outer_wrap div.valuation_table_wrap { overflow-x: scroll; padding-bottom: 10px; }
table.valuation_table { border-collapse: collapse; min-width: 100%; }
table.valuation_table th { text-align: left; }
table.valuation_table thead tr th { padding: 2px; background-color: rgba(192,192,192,128); white-space: nowrap; }
table.valuation_table thead tr th:first-child { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
table.valuation_table thead tr th:last-child { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
table.valuation_table thead tr th.student_col,
table.valuation_table thead tr th.task_set_type_col,
table.valuation_table thead tr th.total_col { font-size: 1.2em; }
table.valuation_table thead tr th.task_set_type_col, 
table.valuation_table thead tr th.total_col { text-align: right; padding-right: 10px; }
table.valuation_table thead tr th.task_set_col sub { font-size: 0.7em; }
table.valuation_table tbody tr td { padding: 2px; white-space: nowrap; }
table.valuation_table tbody tr td.task_set_type_col,
table.valuation_table tbody tr td.task_set_col,
table.valuation_table tbody tr td.total_col { text-align: right; padding-right: 10px; }
table.valuation_table tbody tr td.task_set_type_col,
table.valuation_table tbody tr td.total_col { background-color: #aaffaa; }
table.valuation_table tbody tr td.task_set_col.not_submited { background-color: #ffc6c6; }
table.valuation_table tbody tr td.task_set_col.not_this_group { background-color: #f4ffc4; }
table.valuation_table tbody tr td.task_set_col.not_valuated { background-color: #d1f4ff; }
table.valuation_table tbody tr td.task_set_col.not_considered { background-color: #fad6ff; }
table.valuation_table tbody tr td:first-child { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
table.valuation_table tbody tr td:last-child { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
table.valuation_table tbody tr:nth-child(even) td { background-color: #dbdbdb; }
table.valuation_table tbody tr:nth-child(even) td.task_set_type_col,
table.valuation_table tbody tr:nth-child(even) td.total_col { background-color: #99ff99; }
table.valuation_table tbody tr:nth-child(even) td.task_set_col.not_submited { background-color: #ffa6a6; }
table.valuation_table tbody tr:nth-child(even) td.task_set_col.not_this_group { background-color: #f4ffa4; }
table.valuation_table tbody tr:nth-child(even) td.task_set_col.not_valuated { background-color: #b6d9ff; }
table.valuation_table tbody tr:nth-child(even) td.task_set_col.not_considered { background-color: #fab6ff; }
table.valuation_table tbody tr.marked td,
table.valuation_table tbody tr:hover td { background-color: #cbcbcb !important; }
table.valuation_table tbody tr.marked td.task_set_type_col,
table.valuation_table tbody tr:hover td.task_set_type_col,
table.valuation_table tbody tr.marked td.total_col,
table.valuation_table tbody tr:hover td.total_col { background-color: #77ff77 !important; }
table.valuation_table tbody tr.marked td.task_set_col.not_submited,
table.valuation_table tbody tr:hover td.task_set_col.not_submited { background-color: #ff9696 !important; }
table.valuation_table tbody tr.marked td.task_set_col.not_this_group,
table.valuation_table tbody tr:hover td.task_set_col.not_this_group { background-color: #f4ff84 !important; }
table.valuation_table tbody tr.marked td.task_set_col.not_valuated,
table.valuation_table tbody tr:hover td.task_set_col.not_valuated { background-color: #96b9ff !important; }
table.valuation_table tbody tr.marked td.task_set_col.not_considered, 
table.valuation_table tbody tr:hover td.task_set_col.not_considered { background-color: #fa96ff !important; }
table.valuation_table tbody tr.marked:nth-child(even) td,
table.valuation_table tbody tr:hover:nth-child(even) td { background-color: #ababab !important; }
table.valuation_table tbody tr.marked:nth-child(even) td.task_set_type_col,
table.valuation_table tbody tr:hover:nth-child(even) td.task_set_type_col,
table.valuation_table tbody tr.marked:nth-child(even) td.total_col,
table.valuation_table tbody tr:hover:nth-child(even) td.total_col { background-color: #55ff55 !important; }
table.valuation_table tbody tr.marked:nth-child(even) td.task_set_col.not_submited,
table.valuation_table tbody tr:hover:nth-child(even) td.task_set_col.not_submited { background-color: #ff7676 !important; }
table.valuation_table tbody tr.marked:nth-child(even) td.task_set_col.not_this_group,
table.valuation_table tbody tr:hover:nth-child(even) td.task_set_col.not_this_group { background-color: #f4ff64 !important; }
table.valuation_table tbody tr.marked:nth-child(even) td.task_set_col.not_valuated,
table.valuation_table tbody tr:hover:nth-child(even) td.task_set_col.not_valuated { background-color: #7699ff !important; }
table.valuation_table tbody tr.marked:nth-child(even) td.task_set_col.not_considered, 
table.valuation_table tbody tr:hover:nth-child(even) td.task_set_col.not_considered { background-color: #fa76ff !important; }
table.valuation_table tbody tr td { transition: background 0.5s; -moz-transition: background 0.5s; -webkit-transition: background 0.5s; -o-transition: background 0.5s; }
table.valuation_table tbody tr.clicked td { 
    -moz-box-shadow: 0 4px 2px -3px red inset;
    -webkit-box-shadow: 0 4px 2px -3px red inset;
    box-shadow: 0 4px 2px -3px red inset; 
}
table.valuation_table tbody tr.clicked td:first-child { 
    -moz-box-shadow: 4px 4px 2px -3px red inset;
    -webkit-box-shadow: 4px 4px 2px -3px red inset;
    box-shadow: 4px 4px 2px -3px red inset;
}
table.valuation_table tbody tr.clicked td:last-child {
    -moz-box-shadow: 0 4px 2px -3px red inset;
    -webkit-box-shadow: 0 4px 2px -3px red inset;
    box-shadow: 0 4px 2px -3px red inset;
}