table.projects_list_table { width: 100%; border-collapse: collapse; }
table.projects_list_table thead th { background-color: #99ff99; }
table.projects_list_table thead th:first-child { border-top-left-radius: 3px; }
table.projects_list_table thead th:last-child { border-top-right-radius: 3px; }
table.projects_list_table thead th,
table.projects_list_table tbody td,
table.projects_list_table tfoot td { padding: 4px; }
table.projects_list_table tfoot td { background-color: #99ff99; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; padding-left: 20px; font-weight: bold; }
table.projects_list_table thead th { text-align: left; font-weight: bold; }
table.projects_list_table tbody td.pl_points.not_considered { color: gray; text-decoration: line-through; }
table.projects_list_table tbody td div.whole_comment { display: none; }
table.projects_list_table tbody td a { text-decoration: none; color: green; transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -webkit-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; }
table.projects_list_table tbody tr.projects_list_line_even { background-color: rgba(220,220,220,64); }
table.projects_list_table tbody tr.projects_list_line_even a { color: darkgreen; }
div.comment_body { background-color: white; padding: 15px; color: black; }
div.comment_body a { color: green; }
div.instructions { padding: 10px 5px; }

table.project_tasks_table { width: 100%; border-collapse: collapse; }
table.project_tasks_table thead th { background-color: #99ff99; }
table.project_tasks_table thead th:first-child { border-top-left-radius: 3px; }
table.project_tasks_table thead th:last-child { border-top-right-radius: 3px; }
table.project_tasks_table thead th,
table.project_tasks_table tbody td,
table.project_tasks_table tfoot td { padding: 4px; }
table.project_tasks_table thead th { text-align: left; font-weight: bold; }
table.project_tasks_table tbody td a { text-decoration: none; color: green; transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -webkit-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; }
table.project_tasks_table tbody tr.project_tasks_line_even { background-color: rgba(220,220,220,64); }
table.project_tasks_table tbody tr.project_tasks_line_even a { color: darkgreen; }
table.project_tasks_table tbody td.students span:after { content: ','; }
table.project_tasks_table tbody td.students span.last_student:after { content: ''; }

div.task_text { padding: 4px; border-bottom: 1px solid gray; }
div.task_author { padding: 4px; border-bottom: 1px solid gray; margin-bottom: 4px; }
div.task_files { padding: 4px; border-bottom: 1px solid gray; }
div.task_files div.task_file { padding-left: 5px; }
div.task_files div.task_file a { text-decoration: none; line-height: 1.5em; }

table.solutions_table { width: 100%; border-collapse: collapse; }
table.solutions_table thead th { font-weight: bold; text-align: left; padding: 4px; background-color: #99ff99; }
table.solutions_table thead th:first-child { border-top-left-radius: 3px; }
table.solutions_table thead th:last-child { border-top-right-radius: 3px; }
table.solutions_table thead th.select { width: 15px; }
table.solutions_table thead th.version { width: 45px; }
table.solutions_table thead th.size { width: 100px; }
table.solutions_table thead th.modified { width: 200px; }
table.solutions_table tbody td { padding: 4px; border-bottom: 1px dashed silver; }

fieldset > div.author { border-top: 1px solid black; }
fieldset > div.students { border-top: 1px solid black; }
fieldset > div.students span:after { content: ','; }
fieldset > div.students span.last_student:after { content: ''; }