span.list-icon { display: inline-block; width: 16px; height: 16px; margin: -1px; }
span.list-icon.list-icon-edit { background-image: url('../images_ui/icons/bullet_edit.png'); }
span.list-icon.list-icon-save { background-image: url('../images_ui/icons/disk_black.png'); }
span.list-icon.list-icon-delete { background-image: url('../images_ui/icons/decline.png'); }
span.list-icon.list-icon-sort-up { background-image: url('../images_ui/icons/section_expanded.png'); }
span.list-icon.list-icon-sort-down { background-image: url('../images_ui/icons/section_collapsed.png'); }
span.list-icon.list-icon-bookmark { background-image: url('../images_ui/icons/bookmark.png'); }
span.list-icon.list-icon-page-preview { background-image: url('../images_ui/icons/page_magnify.png'); }
span.list-icon.list-icon-mail { background-image: url('../images_ui/icons/mail.png'); }
span.list-icon.list-icon-home { background-image: url('../images_ui/icons/bullet_home.png'); }
span.list-icon.list-icon-copy { background-image: url('../images_ui/icons/database_copy.png'); }
span.list-icon.list-icon-build { background-image: url('../images_ui/icons/build.png'); }
span.list-icon.list-icon-task-set-open { background-image: url('../images_ui/icons/folder_connect.png'); }
span.list-icon.list-icon-comment { background-image: url('../images_ui/icons/user_comment.png'); }
span.list-icon.list-icon-download { background-image: url('../images_ui/icons/disk_download.png'); }
span.list-icon.list-icon-open { background-image: url('../images_ui/icons/book_open_mark.png'); }
span.list-icon.list-icon-table { background-image: url('../images_ui/icons/table_cell.png'); }
span.list-icon.list-icon-remove { background-image: url('../images_ui/icons/control_remove_blue.png'); }
span.list-icon.list-icon-approve { background-image: url('../images_ui/icons/user_tick.png'); }
span.list-icon.list-icon-disapprove { background-image: url('../images_ui/icons/user_cross.png'); }
span.list-icon.list-icon-upload { background-image: url('../images_ui/icons/disk_upload.png'); }
span.list-icon.list-icon-login-as { background-image: url('../images_ui/icons/user_magnify.png'); }