div.widget_unevaluated_solutions_content { width: 100%; min-width: 400px; font-size: 85%; padding-bottom: 2px; }
div.widget_unevaluated_solutions_content a { color: green; text-decoration: underline; }
div.widget_unevaluated_solutions_content a:hover { color: darkgreen; }