table.tasks_table { width: 100%; }
table.tasks_table th { text-align: left; }
table.tasks_table th.controlls { width: 1px; text-align: center; }
table.tasks_table td.controlls { width: 1px;}
table.tasks_table tbody td { padding: 2px; }
table.tasks_table tbody tr:nth-child(even) { background-color: rgba(255,255,255,128); }
table.tasks_table tbody td ul { margin-left: 20px; }
table.tasks_table tfoot td { text-align: right; background-color: rgba(192,192,192,128); padding: 2px; border-radius: 4px; }
table.tasks_table thead tr th { padding: 2px; background-color: rgba(192,192,192,128); }
table.tasks_table thead tr th:first-child { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
table.tasks_table thead tr th:last-child { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
div.filter_wrap { margin-bottom: 10px; border-bottom: 1px solid silver; padding-bottom: 5px; }
form div.categories_structure ul { list-style-type: none; }
form div.categories_structure ul.ul_level_1 ul { margin-left: 20px; }
form div.categories_structure ul li input { margin-right: 5px; }

#dynamic_categories_id div.clauses div.clause { padding-left: 16px; background-image: url('/public/images_ui/and.png'); background-position: left center; background-repeat: no-repeat; }
#dynamic_categories_id div.clauses div.clause.first_clause { padding-left: 0px; background-image: none; }
#dynamic_categories_id div.clauses div.clause span.categories span.category { padding-left: 20px; background-image: url('/public/images_ui/or.png'); background-position: left center; background-repeat: no-repeat; }
#dynamic_categories_id div.clauses div.clause span.categories span.category.first_category { padding-left: 0px; background-image: none; }

table.task_files_table { width: 100%; margin-top: 10px; }
table.task_files_table th { text-align: left; }
table.task_files_table th.controlls { width: 1px; text-align: center; }
table.task_files_table td.controlls { width: 1px;}
table.task_files_table tbody td { padding: 2px; }
table.task_files_table tbody tr:nth-child(even) { background-color: rgb(192,192,192); }
table.task_files_table thead tr th { padding: 2px; background-color: rgb(192,192,192); }
table.task_files_table thead tr th:first-child { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
table.task_files_table thead tr th:last-child { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }