/* table.rooms_table { width: 100%; }
table.rooms_table th { text-align: left; }
table.rooms_table th.controlls { width: 1px; text-align: center; }
table.rooms_table td.controlls { width: 1px;}
table.rooms_table tbody td { padding: 2px; }
table.rooms_table tbody tr:nth-child(even) { background-color: rgba(255,255,255,128); } */

#category_tree_id ul { list-style-type: none; }
#category_tree_id ul li { display: block; }
#category_tree_id ul.tree_level_1 ul li { padding-left: 10px; }
#category_tree_id ul li div.tree_line span.controlls { display: none; }
#category_tree_id ul li div.tree_line:hover span.controlls { display: inline; }