table.task_sets_table { width: 100%; }
table.task_sets_table th { text-align: left; }
table.task_sets_table th.controlls { width: 1px; text-align: center; }
table.task_sets_table td.controlls { width: 1px;}
table.task_sets_table tbody td { padding: 2px; }
table.task_sets_table tbody tr:nth-child(even) { background-color: rgba(255,255,255,128); }
table.task_sets_table tbody tr.opened_task_set { background-color: rgba(128,128,255,192); border: 1px solid blue; }
table.task_sets_table tbody td ul { margin-left: 20px; }
table.task_sets_table tfoot td { text-align: right; background-color: rgba(192,192,192,128); padding: 2px; border-radius: 4px; }
table.task_sets_table thead tr th { padding: 2px; background-color: rgba(192,192,192,128); }
table.task_sets_table thead tr th:first-child { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
table.task_sets_table thead tr th:last-child { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
div.filter_wrap { margin-bottom: 10px; border-bottom: 1px solid silver; padding-bottom: 5px; }