table.groups_table { width: 100%; }
table.groups_table th { text-align: left; }
table.groups_table th.controlls { width: 1px; text-align: center; }
table.groups_table td.controlls { width: 1px;}
table.groups_table tbody td { padding: 2px; }
table.groups_table tbody tr:nth-child(even) { background-color: rgba(255,255,255,128); }
table.groups_table tbody td ul { margin-left: 20px; }
div.filter_wrap { margin-bottom: 10px; border-bottom: 1px solid silver; padding-bottom: 5px; }