div.change_deadline,
div.select_group { margin: 0 0.5%; padding: 3px; font-weight: bold; color: red; }
div.group_wrap { width: 32.28%; float: left; margin-bottom: 5px; margin-right: 0.5%; margin-left: 0.5%; background-color: #dddddd; }
div.group_wrap div.group_name,
div.group_wrap div.group_teaching { background-color: #99ff99; font-size: 1.2em; font-weight: bold; padding: 3px; }
div.group_wrap ul.group_rooms,
div.group_wrap ul.group_students { list-style-type: none; }
div.group_wrap ul.group_rooms li,
div.group_wrap ul.group_students li { padding: 3px 5px; }
div.group_wrap ul.group_rooms li:nth-child(2n),
div.group_wrap ul.group_students li:nth-child(2n) { background-color: #ececec; }
div.group_wrap ul.group_students li.me { color: blue; }