@import url('content_styles.css');

* { margin: 0; padding: 0; }

html {
    height: 100%;
    background-color: silver; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(top, silver 60%, #ADFF9A);
    background: -moz-linear-gradient(top, silver 60%, #ADFF9A);
    background: -ms-linear-gradient(top, silver 60%, #ADFF9A);
    background: -o-linear-gradient(top, silver 60%, #ADFF9A);
    background: linear-gradient(top, silver 60%, #ADFF9A);
    background-attachment: fixed;
}

body { font-size: 14px; font-family: Verdana, Arial; margin: 0; padding: 0; }

#mainwrap { min-width: 750px; max-width: 98%; margin: 0 auto; margin: 10px; text-align: left; background-color: white; border: 1px solid black; border-radius: 4px; box-shadow: 0px 0px 50px 20px gray; }
#help_wrap div.internal_padding { padding: 10px; }

div.flash_message { color: blue; margin: 5px; padding: 5px; border: 1px solid blue; background-color: #d0d8ff; border-radius: 5px; box-shadow: 0px 0px 2px 2px blue inset; }
div.flash_message.message_success { border-color: green; box-shadow: 0px 0px 2px 2px green inset; background-color: #ADFF9A; color: green; }
div.flash_message.message_error { border-color: red; box-shadow: 0px 0px 2px 2px red inset; background-color: #FFAFAF; color: red; }

fieldset { margin: 5px; border: 1px solid gray; padding: 10px; border-radius: 5px; background-color: #E8E8E8; box-shadow: 5px 5px 10px silver; }
fieldset > legend { border: 1px solid gray; margin-left: 5px; width: 50%; padding: 4px; border-radius: 5px; background-color: #E8E8E8; font-weight: bold; }

hr.break { visibility: hidden; height: 1em; }